<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Conclusion stories</title>
</head>

<body>
    <noscript>
        <strong>Извините, но &quot;Conclusion stories&quot; не работает без включенного JavaScript. Пожалуйста, включите его, чтобы продолжить.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
</body>

</html>