#app {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;


    .nav {
        left: 0;
        right: 0;
        width: 100%;
        z-index: 1030;
        top: 0;
        transition: top 0.3s ease;


        .navbar { width: 100%; }
    }


    .menu-icon { font-size: 1.3rem; }


    .c-sidebar {
        flex: 0 0 auto;
        overflow: hidden;
        z-index: 11;
    }


    .b-overlay-wrap {
        height: 100%;
        flex: 1 1 auto;


        .route-view-wrap {
            height: 100%;
            width: 100%;
            overflow: auto;
        }
    }
}