<template>
    <div id="app" @scroll="onScroll">
        <!-- Navbar wrapper -->
        <div
            ref="navbar"
            class="nav position-sticky fixed-top shadow mb-2"
            :style="{
                top: (navbarVisible ? '0' : `-${navbarHeight}px`)
            }"
        >
            <!-- Navbar -->
            <b-navbar
                toggleable="lg"
                type="dark"
                variant="primary"
            >
                <!-- Left part -->
                <b-navbar-nav>
                    <b-nav-item @click="sideBarVisible = !sideBarVisible">
                        <c-icon class="menu-icon">menu</c-icon>
                    </b-nav-item>
                </b-navbar-nav>

                <!-- Right part -->
                <b-navbar-nav class="ml-auto">
                    <b-nav-form>
                        <b-input-group>
                            <!-- Input field -->
                            <b-form-input size="sm" placeholder="Поиск пока не работает :)"/>

                            <!-- "Search" button -->
                            <template #append>
                                <b-button size="sm">
                                    <c-icon>magnify</c-icon>
                                </b-button>
                            </template>
                        </b-input-group>
                    </b-nav-form>
                </b-navbar-nav>
            </b-navbar>
        </div>

        <!-- Sidebar -->
        <b-sidebar v-model="sideBarVisible">
            <b-link to="/">На главную</b-link>
            <br>
            <b-link to="/about">О проекте</b-link>
            <div>{{lorem}}</div>
        </b-sidebar>

        <!-- Content -->
        <router-view/>
    </div>
</template>


<script lang="ts">
import Class from './app';
export default Class;
</script>