<template>
    <div class="hello">
        <h1>{{ msg }}</h1>
        <hr/>
        <div
            v-for="i in 10"
            :key="'lorem-' + i">{{lorem}}</div>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

import { lorem } from '@/utils';

@Component
export default class HelloWorld extends Vue {
    @Prop() private msg!: string;

    private lorem = lorem;
}
</script>